GtkInfoBar.error {
    background: #ED4747;
}

GtkInfoBar GtkButton.button.close {
    background: inherit;
    border: 0;
    text-shadow: none;
    outline: none;./gdocker
    xx
    box-shadow: none;
}
