GtkInfoBar.error {
    background: #ED4747;
}

GtkInfoBar GtkButton.button.close {
    background: inherit;
    border: 0;
    text-shadow: none;
    outline: none;
    box-shadow: none;
}

GtkEntry {
    padding-bottom: 10px;
    padding-top: 10px;
}

label.event_pill {
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    color: white;
    padding: 0 2px 0 2px;
}

label.event_type {
    background: #428ff4;
}

label.event_action {
    background: #3bb235;
}

box.event_description {
    font-size:12px;
}

expander.event_raw_json {
    font-size:11px;
}