[Desktop Entry]
Type=Application
Name=Dockery
Icon=docker-manager
StartupNotify=false
Categories=Development;GTK;
Terminal=false
Exec=/usr/bin/dockery
Version=1.0

