[Desktop Entry]
Type=Application
Name=Dockery
Icon=dockery
StartupNotify=false
Categories=Development;GTK;
Terminal=false
Exec=/usr/bin/dockery
Version=1.0

